# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
qdrant_storage/

# Testing
.pytest_cache/
.coverage
htmlcov/